body{
    font-family: [Overpass]("https://fonts.google.com/specimen/Overpass?preview.text_type=custom");
    font-weight: 300, 600;
    font-size: 16px;
    margin: 0px 0px;
    max-width: 1440px;
    line-height: 30px;
}
.section1{
    position: relative;
    background-color: hsl(13, 100%, 72%);
    background-image: url("/images/bg-pattern-intro.svg");
    border-bottom-left-radius: 100px;
    color: white;
    max-width: 100%;
    height: 550px;
}

.section1 img{
    position: absolute;
    width: 3000px;
    height: auto;
    top: -1250px;
    left: -400px;
    opacity: .4;
    overflow: hidden;
}

h1{
    color: white;
    position: relative;
    display: inline;
    left: 120px;
    top: 60px;
    font-size: 36px;
    
}

.section1 nav ul{
    white-space: nowrap;
}

nav li{
    width:8%;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 240px;
   
}

.product{
    text-decoration: none;
    color: white;
}

.product-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.product:hover{
    text-decoration: underline;
}

.company{
    text-decoration: none;
    color: white;
}

.company-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.connect{
    text-decoration: none;
    color: white;
}

.connect-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.register ul{
    white-space: nowrap;
}

.register li{
    width:80px;
    display: inline-block;
    position: relative;
    top: -15px;
    left: 980px;
   
}

.register li .login{
    text-decoration: none;
    color: white;
}

.register li button{
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.register li a{
    color: hsl(13, 100%, 72%);
    text-decoration: none
}

.welcome{
    position: absolute;
    top: 200px;
    left: 280px;
    font-size: 40px;
}

.welcome span{
    position: relative;
    top: -50px;
    font-size: 22px;
    left: 180px;
}

.section1 .starter ul{
    white-space: nowrap;
}

.section1 .starter li{
    position: relative;
    top: 250px;
    left: 480px;
    display: inline-block;
    color: white;
    width: 160px
}

.section1 .starter button{
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.section1 .starter button a{
    text-decoration:none;
    color:hsl(13, 100%, 72%);
}

.section1 .learn{
    background-color: hsl(13, 100%, 72%);
}

.section1 .starter .learn a{
    color: white;
}


.section2{
    position: relative;
}

.section2 img{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 800px;
    top: 25px;
}

.section2 .design h2{
    color:hsl(208, 49%, 24%);
    position: relative;
    top: 50px;
    left: 500px;
    font-size: 40px;
}

.section2 .intro{
    color:hsl(208, 49%, 24%);
    position: relative;
    width: 460px;
    left: 200px;
    top: 160px;
    box-sizing: border-box;
}

.section2 .robust{
    color:hsl(208, 49%, 24%);
    position: relative;
    width: 450px;
    left: 200px;
    top: 200px;
    box-sizing: border-box;
}

.section3{
    background-color: hsl(237, 23%, 32%);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    height: 400px;
    top: 400px;
}

.section3 img{
    position:relative;
    top: -70px;
}

.section3 .state{
    position: relative;
    color: white;
    top: -500px;
    box-sizing: border-box;
    left: 600px;
    width: 460px;
}

.section3 .state h2{
    font-size: 34px;
}

.section4{
    position: relative;
    top: 50px;
}

.section4 img{
    position: relative;
    box-sizing: border-box;
    width: 750px;
    height: 750px;
    left: -210px;
    top: 450px;
}

.section4 .free{
    position: relative;
    top: -150px;
    left: 600px;
    width: 460px;
    color:hsl(208, 49%, 24%);
}

.section4 .tool{
    position: relative;
    top: -115px;
    left: 600px;
    width: 460px;
    color:hsl(208, 49%, 24%);
}
.section4 div h2{
    font-size: 25px;
}

footer{
    position: relative;
    background-color: hsl(237, 17%, 21%);
    border-top-right-radius: 100px;
    top: 200px;
    height: 300px;
    color: white;
}

footer div ul li{
    text-decoration: none;
}

footer .product-list{
    position: absolute;
    left: 300px;
    top: 50px;
}

footer .company-list{
    position: absolute;
    left: 600px;
    top: 50px;
    text-decoration: none;
}

footer .connect-list{
    position: absolute;
    left: 900px;
    top: 50px;
}

footer .attribution{
    position: absolute;
    top: 250px;
    left: 600px;
}