body{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 0px;
    max-width: 1440px;
    line-height: 25px;
}
header{
    position: relative;
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 100px;
    color: white;
    max-width: 100%;
    height: 550px;
    overflow: hidden;
}

.intro{
    position: absolute;
    width: 2950px;
    height: auto;
    top: -1250px;
    left: -400px;
    opacity: .7;
    clip: 0px 10px 100px 0px ;
}

.logo{
    position: relative;
    left: 100px;
    top: 60px;
}

nav ul{
    white-space: nowrap;
}

nav li{
    width:8%;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 240px;
   
}


.main-nav-item a{
    text-decoration: none;
    color: white;
}

.main-nav-item a:hover{
    text-decoration: underline;
}

.main-nav-item a:hover + .main-nav-arrow{
    transform: rotateX(180deg);
}

.main-nav-arrow{
    transition: all 0.5s ease;
}


.nav-item-content{
    display: none;
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgb(104, 104, 104);
    width: 150px;
} 

.nav-item-content a{
    color: black;
    padding: auto;
    text-decoration: none;
}

.nav-item-content-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.nav-item-content-list li{
    display: block;
    position: relative;
    left: 0px;
    padding-bottom: 5px;
}

.nav-item-content a:hover{
    background-color: #ddd;
    font-weight: 600;
}

.main-nav-item:hover .nav-item-content{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -5.0px;
}


.register ul{
    white-space: nowrap;
}

.register li{
    width:80px;
    display: inline-block;
    position: relative;
    top: -50px;
    left: 940px;
   
}

.register li .login{
    text-decoration: none;
    color: white;
}

.register li button{
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.register li button:hover{
    background-color: hsl(355, 100%, 74%);
    border-color: white;
    border-style: solid;
    border-width: thin;
}

.register li .sign-up{
    color: hsl(353, 100%, 62%);
    text-decoration: none;
    font-weight: 600;
}

.register li .sign-up:hover{
    color: white;
}

.welcome{
    position: absolute;
    top: 170px;
    left: 280px;
    font-size: 63px;
    font-weight: 500;
}

.welcome span{
    position: relative;
    top: 25px;
    font-size: 21px;
    left: 180px;
}

.section1 .starter ul{
    white-space: nowrap;
}

.section1 .starter li{
    position: relative;
    top: 250px;
    left: 480px;
    display: inline-block;
    color: white;
    width: 160px
}

.section1 .starter button{
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.section1 .starter button:hover{
    background-color: hsl(355, 100%, 74%);
    border-color: white;
    border-style: solid;
    border-width: thin;
}

.section1 .starter button a{
    text-decoration:none;
    color:hsl(353, 100%, 62%);
}

.section1 .starter button a:hover{
    color: white;
}

.section1 .starter li .learn{
    background-color: hsl(0, 94%, 70%);
    border-color: white;
    border-style:solid;
    border-width: thin;
}

.section1 .starter li .learn:hover{
    background-color: white;
}

.section1 .starter .learn a{
    color: white;
}

.section1 .starter .learn a:hover{
    color: hsl(353, 100%, 62%);
}

.section2{
    position: relative;
    overflow: hidden;
    height: 900px;
}

.section2 img{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 800px;
    top: 100px;
}

.section2 .design h2{
    color:hsl(208, 49%, 24%);
    position: relative;
    top: 150px;
    left: 500px;
    font-size: 40px;
}

.section2 .intro{
    color:hsl(208, 49%, 24%);
    position: relative;
    width: 500px;
    left: 200px;
    top: 230px;
    opacity: 1;
    box-sizing: border-box;
}

.section2 .robust{
    color:hsl(208, 49%, 24%);
    position: relative;
    width: 450px;
    left: 200px;
    top: 270px;
    box-sizing: border-box;
}

.section3{
    background-color: hsl(237, 23%, 32%);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    height: 400px;
    z-index: 1;
    top: 100px;
}

.section3 img{
    position:relative;
    top: -70px;
}

.section3 .state{
    position: relative;
    color: white;
    top: -480px;
    box-sizing: border-box;
    left: 600px;
    width: 460px;
}

.section3 .state h2{
    font-size: 34px;
}

.section4{
    position: relative;
    top: -200px;
}

.section4 img{
    position: relative;
    box-sizing: border-box;
    width: 750px;
    height: 750px;
    left: -210px;
    top: 450px;
}

.section4 .free{
    position: relative;
    top: -140px;
    left: 600px;
    width: 460px;
    color:hsl(208, 49%, 24%);
}

.section4 .tool{
    position: relative;
    top: -90px;
    left: 600px;
    width: 460px;
    color:hsl(208, 49%, 24%);
    z-index: 1;
}
.section4 div h2{
    font-size: 25px;
}

footer{
    position: relative;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 100px;
    top: 50px;
    height: 300px;
    color:white;
}

footer img{
    position: absolute;
    left: 150px;
    top: 60px;
}

footer ul{
    list-style-type: none;
}

footer .product-list{
    position: absolute;
    left: 400px;
    top: 50px;
}

footer .company-list{
    position: absolute;
    left: 650px;
    top: 50px;
    text-decoration: none;
}

footer .connect-list{
    position: absolute;
    left: 850px;
    top: 50px;
}

footer .attribution{
    position: absolute;
    top: 250px;
    left: 600px;
    font-size: 11px;
}

footer div ul .product a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
}

footer div ul .company a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
}

footer div ul .connect a{
    text-decoration: none;
    color:hsl(240, 2%, 79%);
}

footer .attribution a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
}